<article class="post bg-white">
  <header class="post-header">
    <h1 class="post-title">
      {{ if .Params.weight }}
        <span class="post-pinned">
          {{ partial "svg/pinned.svg" }}
        </span>
      {{ end }}
      <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "post/i18nlist.html" . }}
    {{ partial "post/meta.html" . }}
  </header>
  <!-- Content -->
  <div class="post-content">
    {{ if .Site.Params.homeFullContent }}
      <div class="post-summary">
        {{ .Content }}
      </div>
    {{ else }}
      <div class="post-summary">
        {{ .Summary }}
      </div>
      <div class="read-more">
        <a href="{{ .RelPermalink }}" class="read-more-link"
          >{{ i18n "readmore" }}</a
        >
      </div>
    {{ end }}
  </div>
</article>

<!-- 添加评论区utterance -->
<!-- <script
    // 加载的客户端脚本
    src="https://utteranc.es/client.js"
    // repo 就是访问的仓库，格式 用户名/仓库名
    // 个人就是 repo="wsafight/personBlog"
    repo="[OooldGreen/blog-sources]"

    // 选定的当前blog 与 issue 之间的关系
    // 个人使用的是不会自动创建的 issue-number，每个issue都有自己的number。该选项是使用特定的issue
    issue-term="pathname"
    // 主题为  github-light 还有其他主题可以选择        
    theme="github-light"
    crossorigin="anonymous"
    async>
</script> -->
