/* 
  博客整体字体样式修改
*/

/* 字体修改 */
/* 优先级从高到低 */
/* 字体顺序：英文Windows macOS/IOS Linux + 中文macOS/IOS Linux Windows + fallback备胎字体*/
body{
  font-family: 'Latin Modern Math', 'Noto Serif SC',   /* 自定义字体，英文在前，中文在后 */
               Georgia, -apple-system, 'Nimbus Roman No9 L', /* 英文默认字体 */
               'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',  /* 中文默认字体 */
               'WenQuanYi Micro Hei', 'ST Heiti', cursive, sans-serif; /* 备胎字体 */
  font-display: swap;
}
pre, code {
  font-family: 'FreeMono', monospace;
}
h1, h2, h3{
  font-weight: 250;
}