/* 
  博客整体字体样式修改
*/

/* 字体修改 */
/* 优先级从高到低 */
/* 字体顺序：英文Windows macOS/IOS Linux + 中文macOS/IOS Linux Windows + fallback备胎字体*/
body{
  font-family: 'Latin Modern Math', 'Noto Serif SC',   /* 自定义字体，英文在前，中文在后 */
               Georgia, -apple-system, 'Nimbus Roman No9 L', /* 英文默认字体 */
               'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',  /* 中文默认字体 */
               'WenQuanYi Micro Hei', 'ST Heiti', cursive, sans-serif; /* 备胎字体 */
  /* font-display: swap; */
}
pre, code {
  font-family: 'FreeMono', monospace;
}
h1, h2, h3 {
  font-weight: 260;
}
h4, h5, h6, p, li, a {
  font-weight: 250;
}
.active,
.post-content figure>figcaption {
  font-weight: 300 !important;
}

/* 设置字体自适应大小 */
@media screen and (max-width: 415px) {
  html,
  .toc li {
    font-size: 14px;
  }
  body, h4, h5, h6, p {
    font-size: 16px !important;
  }
}
.post-title, .post-content h1 {
  font-size: 2rem;
}

.post-content h2 {
  font-size: 1.8rem;
}

.post-content h3 {
  font-size: 1.5rem;
}

.post-content h4 {
  font-size: 1.2rem;
}

.post-content h5 {
  font-size: 1rem;
}

.post-content h6 {
  font-size: 0.85rem;
}
/* ---------------------------------------- */