/*
 **
 其他一些自定义设置
 **
*/

/* 设置博客内容宽度、固定导航栏宽度 */
.main {
  max-width: calc(var(--main-width) + var(--gap) * 6);
  margin-top: var(--header-height);
}

/* nav 导航栏固定 */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--theme);
  z-index: 1000;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
}

.top-link {
  box-shadow: 0 3px 6px -1px rgb(0 0 0 / 25%);
}

@media screen and (max-width: 768px) {
  .main {
      padding: 0px;
  }

  .post-single {
      padding: 15px !important;
  }

  .first-entry {
      padding: 0px 20px;
  }

  .post-entry,
  .page-header,
  .archive-year,
  .terms-tags {
      margin: 15px;
  }

  /* 固定导航栏宽度 */
  .main {
    margin-top: 160px;
  }
}

/* home样式设置 */
.first-entry {
  min-height: 0px;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

/* 页面下方图标格式 */
.footer .entry-footer .social-icons a{
  /* 去除下划线 */
  border-bottom: none; 
}

/* 去除角标 */
sup:not(.draft-sup) {
  display: none;
}

/* list卡片 read more 样式 */
.meta-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.title-link:hover {
  border-bottom: 1px solid var(--secondary);
}
