{{- /* Footer custom content area start */ -}}

<footer class="entry-footer">
    {{ partial "social_icons.html" site.Params.socialIcons }}
</footer>


<!-- {{- if (not site.Params.disableScrollToTop) }}
<div class="top-search-link">
    <a href="#top" aria-label="go to top" title="Go to Top (Alt + G)"  class="top-link" id="top-link" accesskey="g">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
            <path d="M12 6H0l6-6z" />
        </svg>
    </a>
    <a href="/search" aria-label="search" title="Search" class="search-link" id="search" accesskey="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </a>
</div>
{{- end }} -->

{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}